.ItemCard {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(31, 31, 31, 0.438);
    border-radius: 20px;
    color: rgb(239, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.384) 2.95px 1.95px 2.6px;}

.ItemCard img {
    width: 100px;
    border-radius: 50%;
}

.ItemCard button {
    cursor: pointer;
}

.infoArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.buttonArea {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.quantityButton{
    padding: 5px 10px;
    width: 100%;
}

#addToCart {
    width: 100%;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

#deleteButton {
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 59, 59);
    border-style: none;
    border-radius: 5px;
}

.editArea1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.editArea2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
