.modalBackground {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 10;
    background-color: rgb(214, 228, 229);
    min-height: 500px;
    padding: 20px;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.445);
    z-index: 10;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.modalContainer button {
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

thead {
    font-size: 1.2rem;
}

th {
    padding: 5px;
}

td {
    text-align: center;
}

td button {
    margin-left: 15px;
    width: 80%;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.footer button {
    width: 200px;
}

#close {
    background-color: rgb(255, 59, 59);
}

#open {
    border: solid 2px black;
}