*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
  }

.App {
	min-height: 100vh;
    display: grid;
    background-color: rgb(239, 245, 245)
}

main {
	display: flex;
	flex-direction: column;
}

.NavBar {
    background-color: rgb(73, 113, 116);
    height: 50px;
}

.Store {
    flex: 1;
}

.Home {
    flex: 1;
}

.Footer {
    height: 50px;
}